body{
    display: grid;
    justify-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.gameContainer{
    align-self: center;
}
@font-face {
    font-family: PressStart;
    src: url('font/PressStart2P-Regular.ttf') ;
}
@font-face {
    font-family: CustomFont;
    src: url('font/Kanit-Regular.ttf');
}
@font-face {
    font-family: WizardFont;
    src: url('font/JollyLodger-Regular.ttf');
}
@font-face {
    font-family: Quantico;
    src: url('font/Quantico-Regular.ttf');
}