.TextMessage {
  font-size: 2vw;
  width:50%;
   word-spacing: 0.001em;
   margin: 0 auto;
   background: #FFF2F9;
   padding: 1em;
   border-bottom: 1vw solid #1F4685;
   position:relative;
   line-height: 1.2em;
   margin-top: 60px;
}
.TextMessage_p {
  margin: 0;
  font-size: 12px;
}
.TextMessage span {
  opacity: 0;
}
.TextMessage span.revealed {
  opacity: 1;
  color: #1F4685;
  font-family: 'Quantico', sans-serif;

}

.TextMessage_button {
  margin: 0;
  font-size: 8px;  
  padding:0;
  -webkit-appearance: none;
  background:none;
  border:0;
  font-family: inherit;
  cursor: pointer;

  position: absolute;
  right: 2px;
  bottom: 0;
}